.container {
    border: 1px solid black;
    display: block;
}

.listStyle {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.buttonStyle {
    border: 1px solid black;
    width: 100%;
}

.buttonStyle:hover {
    border: 2px solid black;
    width: 100%;
    background-color: aqua;
}

.buttonStyle:active {
    border: 1px solid black;
    width: 100%;
}